<!-- Fast Navi -->
<% if(1) { %>
<h5>Fast Navigation</h5>
<!-- 第一次图片位置问题是因为设置了padding值15，这里只做相应修改即可 20200308-->



<!-- 这个是关于数据结构和算法的配置的链接-->
  <div>
	  <a href="/categories/#Data" title="Data">
	        <img src="/img/data.png"
	        style="width:240px;padding-left:0px;padding-right:0px;padding-top:0px;"></a>
  </div>

<!-- 这个是关于CPP的配置的链接 转换成CPP相关的博客内容分享-->
  <div>
	  <a href="/categories/#Cpp" title="CPP">
			<img src="/img/cpp.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于Autonomous的配置的链接-->
  <div>
	  <a href="/categories/#Research" title="Research">
			<img src="/img/research.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于Blog的配置的链接 从latex转换成blog相关的博客内容分享-->
<!-- 此标签代表打开新空白页与否 200312 delete target="_blank"-->
  <div>
	  <a href="/categories/#Blog" title="LaTex">
	        <img src="/img/blog.png"
	        style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>
  
<!-- 这个是关于NAS的配置的链接 转换成nas相关的博客内容分享-->
  <div>
	  <a href="/categories/#Nas" title="NAS">
			<img src="/img/nas.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于English的配置的链接 转换成English相关的博客内容分享-->
  <div>
	  <a href="/categories/#English" title="English">
			<img src="/img/english.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于Japanese的配置的链接 转换成Japanese相关的博客内容分享-->
  <div>
	  <a href="/categories/#Japanese" title="Japanese">
			<img src="/img/japanese.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>
  
<!-- 这个是关于Mac的配置的链接 -->
  <div>
	  <a href="/categories/#Mac" title="Mac">
			<img src="/img/mac.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于Python的配置的链接 -->
  <div>
	  <a href="/categories/#Python" title="Python3">
			<img src="/img/python.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于Hexo的链接 -->
  <div>
	  <a href="/categories/#Hexo" title="Internet">
			<img src="/img/hexo.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>

<!-- 这个是关于科学上网的配置的链接 转换成blog新的随笔板块 关掉20200307-->
<!-- 
  <div>
	  <a href="https://ningmoon.github.io/categories/Blog/" target="_blank" title="Python3">
			<img src="https://raw.githubusercontent.com/ningmoon/myphotos/master/blog-0001.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>
-->

<!-- 这个是关于机器学习的配置的链接 XXXXXXXXXXXXXX 关掉1902-->
<!-- 
  <div>
	  <a href="https://ningmoon.github.io/categories/ML/" target="_blank" title="Python3">
			<img src="https://raw.githubusercontent.com/ningmoon/myphotos/master/ml-0001.png"
			style="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>
-->

<!-- 这个是关于科学计算工具的链接 XXXXXXXXXXXXXXXX 关掉1902-->
<!--
  <div>
	  <a href="https://ningmoon.github.io/categories/SciPy/" target="_blank" title="Python3">
			<img src="https://raw.githubusercontent.com/ningmoon/myphotos/master/scipy-0001.png"
			sstyle="width:240px;padding-left:0px;padding-right:0px;padding-top:10px;"></a>
  </div>
-->
<% }%>




<!-- 这里是注释 -->
<!-- 这个文件是用来用图片做导引，相当于美化了导航栏 -->
<!-- 图片的原始大小为1500*900 -->
<!-- 这里是注释 -->
<!-- 这里是注释 -->
<!-- 这里是注释 -->




